.alarmscont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.allalarmspage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addnew{
    width: 80px;
    height: 30px;
    background: #d7e4f8;
    border: none;
    color: #105892;
    font-weight: bold;
    font-family: cursive;
    border-radius: 20px;
    letter-spacing: 1px;
    margin-top: 30px;
}